{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<br><br>
<div class="container">
    <H4 class="text-center">HOSPITAL DETAILS</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Hospital Name</th>
                <th scope="col">Hospital ID</th>
                <th scope="col">Profile</th>
                <th scope="col">Adress</th>
                <th scope="col">Hotline</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in hospitals %}
            <tr>
                <td> {{t.user.username}}</td>
                <td> {{t.hospitalID}}</td>
                <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
                <td>{{t.address}}</td>
                <td>{{t.hotline}}</td>
                
                <td class="text-center">
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'delete-hospital' t.id %}">DELETE</a> </button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% endblock content %}
